.App {
  text-align: center;
}

.bookshelf {
  margin: 5rem 10rem;
  background-color: gainsboro;
}

@media (min-width: 768px) {
  .bookshelf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: azure;
}
.book > div {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
